datasets/archive/
datasets/pre-processing/
datasets/model_ready_crime_nbh_2024.gpkg
datasets/model_ready_queen.gpkg
Papers/
.venv/
GIT_WORKFLOW.md
context_document.md
.DS_Store
outputs/modeling_mvp/
outputs/modeling_improvement/
Example Thesis code.ipynb